<meta charset="utf-8" />
<meta name="viewport" content="width=device-width", inital-scale=1, shink-to-fit=no/>
	<title>Seenit</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/main.css"/>